:root {
    --main-bg-color: rgb(255, 255, 255);
    --main-txt-color: rgb(22, 22, 22);
    --transparent: transparent;
    --main-font: 'Titillium Web';
    --addit-font: sans-serif;
    --detail-color-light: rgba(218, 253, 240, 0.7);
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: var(--main-bg-color);
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.nav {
    height: 50px;
    justify-content: end;
}

.btn {
    cursor: pointer;
    font-family: 
        var(--main-font), 
        var(--addit-font);
}

.nav-button {
    padding: 5px 15px 0;
    text-align: center;
}

.nav-button > p {
    transform: translate(-12px, 35px);
}

.link-bnt {
    text-decoration: none;
    font-family: var(--main-font);
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--main-txt-color);
}

.btn-image {
    height: 50px;
    width: 50px;
}

.center {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-45%, -50%);
}

.container {
    width: 100%;
}

.center-text {
    justify-content: center;
}

.header-search {
    font-size: 100px;
    color: var(--main-txt-color);
}

.header-icon {
    transform: translate(-25px, 65px);
    height: 50px;
    aspect-ratio: 1/1;
}

.search-form {
    width: 60%;
    min-width: 400px;
    margin: 0 auto;
    background-color: rgb(177, 204, 198);
}

.search-input-area {
    height: 40px;
    border-radius: 15px;
}

.search-form-element {
    height: 100%;
    font-size: 18px;
    font-family: 
        var(--main-font), 
        var(--addit-font);
    border: none;
    outline: none;
}

.input {
    width: 70%;
    padding: 0 20px;
    background: var(--transparent);
}

.input::placeholder {
    color: var(--main-txt-color);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
}

.search-form-btn {
    width: 20%;
    transform: translate(10px, -0.5px);
    background: linear-gradient(90deg,
        rgb(211, 234, 222),
        rgb(211, 234, 222), 
        rgb(211, 234, 222), 
        var(--transparent));
    border-radius: 15px;
}

.adv-container {
    transform: translate(-50%, -55%);
}

.adv-search-form {
    height: fit-content;
    max-width: 50%;
}

.adv-input {
    min-width: 400px;
    width: 85%;
    margin: 12px auto;
}

.light-input {
    background-color: var(--detail-color-light);
    border-radius: 6px;
}

.adv-input::placeholder {
    /* Light placeholder text */
    color: #a9acaf;
}

.adv-inut-numb_range {
    flex-direction: row;
    margin: 12px auto;
}

.adv-inut-numb_range-input {
    width: 80px;
    margin: 0 5px;
    padding: 0 5px;
    font-size: 18px;
    text-align: center;
    border: none;
    outline: none;
}

.adv-search-form-btn {
    height: 48px;
    width: 142px;
    margin: 12px auto;
    background: rgb(211, 234, 222);
}

.btn-search-icon,
.btn-img-icon {
    transition-duration: 0.3s;
}

.btn-search-icon {
    background: url(./img/icons8-search-50.png) no-repeat;
}

.btn-search-icon:hover {
    background: url(./img/gif/icons8-search.gif) no-repeat;
}

.btn-img-icon {
    background: url(./img/icons8-image-50.png) no-repeat;
}

.btn-img-icon:hover {
    background: url(./img/gif/icons8-image.gif) no-repeat;
}