:root {
    --main-bg-color: rgb(235, 235, 235);
    --main-txt-color: rgb(22, 22, 22);
    --transparent: transparent;
    --main-font: 'Titillium Web';
    --addit-font: sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: var(--main-bg-color);
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.nav {
    justify-content: end;
    background: var(--transparent);
}

.btn {
    cursor: pointer;
    font-family: var(--main-font), var(--addit-font);
}

.nav-button {
    width: 4vh;
    padding: 5px 25px 0;
    text-align: center;
}

.link-bnt {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: var(--main-txt-color);
}

.btn-image {
    aspect-ratio: 1/1;
}

.center {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-45%, -50%);
}

.container {
    width: 100%;
}

.center-text {
    justify-content: center;
}

.header-search {
    font-size: 100px;
    color: var(--main-txt-color);
}

.header-icon {
    transform: translate(-10px, 80px);
}

.header-icon {
    height: 30px;
    aspect-ratio: 1/1;
}

.search-form {
    width: 60%;
    min-width: 400px;
    margin: 0 auto;
    background-color: rgb(177, 204, 198);
}

.search-input-area {
    height: 40px;
    border-radius: 15px;
}

.search-form-element {
    height: 100%;
    font-size: 18px;
    font-family: var(--main-font), var(--addit-font);
    border: none;
    outline: none;
}

.input {
    width: 70%;
    padding: 0 20px;
    background: var(--transparent);
}

.input::placeholder {
    color: var(--main-txt-color);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
}

.search-form-btn {
    width: 23%;
    transform: translate(10px, -0.5px);
    background: rgb(211, 234, 222);
    border-radius: 15px;
}